<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header bg-primary">
                PGCert Questionnaire
            </h5>
            <div class="card-body">
                <form action="submission" method="{{#if useGet}}GET{{else}}POST{{/if}}">
                    <fieldset>
                        <legend>Your details</legend>

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="Your name goes here"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="Enter a valid email">
                        </div>

                        <div class="form-group">
                            <label for="city">City:</label>
                            <input class="form-control" type="text" id="city" name="city" list="cities" placeholder="Choose your city, or enter one">
                            <datalist id="cities">
                                <option>Auckland</option>
                                <option>Christchurch</option>
                                <option>Hamilton</option>
                                <option>Wellington</option>
                            </datalist>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Questionnaire</legend>

                        <p>How are you finding the course? Tick all applicable:</p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="impressions" value="enjoying" id="chkEnjoying">
                            <label class="form-check-label" for="chkEnjoying">Enjoying it</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="impressions" value="challenging" id="chkChallenging">
                            <label class="form-check-label" for="chkChallenging">Challenging</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="impressions" value="catching-up" id="chkCatchup">
                            <label class="form-check-label" for="chkCatchup">Still catching up</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="impressions" value="too-hard" id="chkHard">
                            <label class="form-check-label" for="chkHard">Too hard</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="impressions" value="too-many-exercises"
                                id="chkTME">
                            <label class="form-check-label" for="chkTME">Too many exercises</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="impressions" value="confused" id="chkConfused">
                            <label class="form-check-label" for="chkConfused">Confused</label>
                        </div>

                        <p>Choose the one that best describes your experience so far:</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" value="learning" id="rdoLearning">
                            <label class="form-check-label" for="rdoLearning">Learning a lot</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" value="not-learning" id="rdoNotLearning">
                            <label class="form-check-label" for="rdoNotLearning">Not learning enough</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" value="okay" id="rdoOk">
                            <label class="form-check-label" for="rdoOk">Okay</label>
                        </div>

                        <div class="form-group">
                            <label for="rating">Rate the course so far on a scale from 1 (poor) to 10 (excellent):</label>
                            <input class="form-control" id="rating" name="rating" type="number" min="1" max="10" step="1">
                        </div>

                        <div class="form-group">
                            <label for="favourite-animal">Pick your favourite among the animals introduced in this
                                course:</label>
                            <select class="form-control" id="favourite-animal" name="favourite-animal">
                                <option value="quokka" selected>Quokka</option>
                                <option value="arctic-fox">Arctic Fox</option>
                                <option value="wombat">Wombat</option>
                                <option value="himalayan-pika">Himalayan Pika</option>
                                <option value="lynx">Lynx</option>
                                <option value="pallas-cat">Pallas Cat</option>
                                <option value="pika">Pika</option>
                                <option value="red-panda">Red Panda</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="improvements">How can the course be improved? Choose one or more:</label>
                            <select class="form-control" id="improvements" name="improvements" multiple>
                                <option value="cuddly-animals">
                                    Access to real cuddly animals for petting (instead of just pictures)</option>
                                <option value="coffee">More coffee</option>
                                <option value="free-printing">Free printing</option>
                                <option value="more-time">More hours in the day</option>
                                <option value="free-parking">Free parking</option>
                                <option value="cafe-vouchers">Vouchers for the local caf&egrave;</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="comments">Additional comments:</label>
                            <textarea class="form-control" id="comments" name="comments" rows="5"></textarea>
                        </div>

                    </fieldset>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Done!">
                        <input class="btn btn-default" type="reset" value="Clear">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>